In [1]:
# int, float, str.

In [2]:
56**6

30840979456

In [3]:
30840979456 - 45678

30840933778

In [4]:
30840979456-3456789000

27384190456

In [5]:
30840979456/567

54393261.82716049

In [13]:
word = "I like footbool. It is very popular in ou countre"
word2 = "It is very popular in England"

In [14]:
print(word)
print(word2)

I like footbool. It is very popular in ou countre
It is very popular in England

In [17]:
print("I like footbool %s" % word2)

I like footbool It is very popular in England

In [18]:
x = 2345

In [20]:
type(x)

int

In [21]:
y = "Iam fine man"
print(y)

Iam fine man

In [22]:
type(y)

str

In [23]:
# str, list + function

In [24]:
x = "I like footbool. It is very popular in ou countre"

In [25]:
x

'I like footbool. It is very popular in ou countre'

In [26]:
print(x)

I like footbool. It is very popular in ou countre

In [27]:
print(x[3])

i

In [30]:
print(x[2:17])

like footbool.

In [31]:
y = "I "
y

'I '

In [32]:
c = "It is very popular in ou countre"
c

'It is very popular in ou countre'

In [33]:
g = y + x + c
print(g)

I I like footbool. It is very popular in ou countreIt is very popular in ou countre

In [34]:
x = 'World is cool:'
x = x + 'Sun shine: '

In [35]:
x

'World is cool:Sun shine: '

In [36]:
print(x)

World is cool:Sun shine:

In [43]:
x.upper()

'WORLD IS COOL:SUN SHINE: '

In [44]:
len(x)

25

In [59]:
x.split(',')

['World is cool:Sun shine: ']

In [7]:
print(' I love {0} {1} {2}'.format('footbol', 'hokey', 'golf'))

 I love footbol hokey golf

In [8]:
result = 123/43

In [9]:
result

2.86046511627907

In [13]:
print('I have money {r: 1.2f}'.format(r=result))

I have money  2.86

In [14]:
print('I like \n sport')

I like
 sport

In [15]:
print('I like \t sport')

I like 	 sport

In [16]:
mylist = ['one', 'two', 'three']
mylist[1]

'two'

In [17]:
mylist[1] = 'five'

In [18]:
mylist

['one', 'five', 'three']

In [24]:
mylist.pop(1)

'five'

In [25]:
mylist.append('six')

In [26]:
mylist

['one', 'three', 'six']

In [27]:
words = [1,4,6,8,13,15,23,35]

In [30]:
words.sort()

In [31]:
print(words)

[1, 4, 6, 8, 13, 15, 23, 35]

In [36]:
words.reverse()
print(words)

[35, 23, 15, 13, 8, 6, 4, 1]

In [41]:
#tuple кортеж - не змінюється

t = (4,2,3,456,2,2,2)

In [42]:
type(t)

tuple

In [43]:
t.count(2)

4

In [45]:
t.index(456)

3

In [47]:
t

(4, 2, 3, 456, 2, 2, 2)

In [48]:
r = [4, 2, 3, 456, 2, 2, 2]

In [49]:
r[3] = 45678

In [50]:
r

[4, 2, 3, 45678, 2, 2, 2]

In [51]:
#set множина - неупорядковані об'єкти

In [52]:
mylist = set()

In [53]:
mylist

set()

In [54]:
mylist.add(4)

In [55]:
set(mylist)

{4}

In [56]:
mylist

{4}

In [57]:
mylist.add(2)

In [58]:
mylist

{2, 4}

In [60]:
mylist.add(123)

In [61]:
mylist

{2, 4, 123}

In [62]:
# сет зберігає унікальні значення

In [63]:
w =['abc','abc','abc',12,12,34,34,56,7,7,7,7]

In [64]:
set(w)

{12, 34, 56, 7, 'abc'}

In [65]:
# dicts словники - неопорядковане відображення обєктів ключ:значення

In [66]:
dict1 = {'key1':'value1', 'key2':'value2'}

In [68]:
dict1['key1']

'value1'

In [70]:
dict1

{'key1': 'value1', 'key2': 'value2'}

In [71]:
my_dict = {'k1':12, 'k2':10.3, 'k3':'q', 'k4':'q', 'k5':(1,2), 'k6':[1,1,2,3], 'k7':{'kk1':1, }}

In [74]:
my_dict['k6'][3]

3