In [1]:
x = "Hello world"

In [2]:
print(x)

Hello world

In [3]:
print(x[7])

o

In [5]:


name = "Sam"

In [17]:


last_letters = name[1:]

In [20]:
print(last_letters +"a")

ama

In [32]:
x = 'World is cool:'

In [33]:
x = x + 'Sun shine:'

In [34]:
x

'World is cool:Sun shine:'

In [35]:
x = 'Hello World'

In [36]:
x.upper()

'HELLO WORLD'

In [37]:
x.lower()

'hello world'

In [38]:
len(x)

11

In [43]:
x.split("o")

['Hell', ' W', 'rld']

In [44]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [45]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [46]:
result = 100/77

In [47]:
result

1.2987012987012987

In [69]:
print('The result is {r:1.2f}'.format(r=result))

The result is 1.30

In [70]:
name = 'Serhey'
print("My name is {l}".format(l=name))

My name is Serhey

In [85]:
secondname = "Pryduk"

In [91]:
r = "Hello"

In [92]:
r

'Hello'

In [96]:
print('{x}! My name is {l} {h}'.format(x=x, l=name, h=secondname))

Hello World! My name is Serhey Pryduk

In [97]:
print("Hello \nWorld")

Hello
World

In [98]:
print("Hello \rnWorld")

nWorld

In [99]:
print("Hello \tWorld")

Hello 	World

In [103]:
print('The %s %s is comming! %s' % ('winter', 'summer', '12121212'))

The winter summer is comming! 12121212

In [104]:
mylist = ['one', 'two', 'three']

In [106]:
mylist[1:]

['two', 'three']

In [107]:
mylist = ['one', 'two', 'three']

In [108]:
mylist.append('four')

In [109]:
mylist

['one', 'two', 'three', 'four']

In [110]:
mylist.pop(2)

'three'

In [111]:
t = (5,6,7,8,9)

In [112]:
type(t)

tuple

In [121]:
my_list = [1, 'a', 'b', 'b', 'b', 2,1,1,1,1,1]

In [122]:
my_list.count(1)

6

In [124]:
my_list.index('b')

2

In [125]:
my_list

[1, 'a', 'b', 'b', 'b', 2, 1, 1, 1, 1, 1]

In [127]:
my_list[3] = "new"

In [128]:
my_list

[1, 'a', 'b', 'new', 'b', 2, 1, 1, 1, 1, 1]

In [129]:
price_lookup = {'apple':1111,'orange':2222,'milk':2222}

In [130]:
price_lookup['orange']

2222