In [1]:
x = 'Hello world'
print (x)

Hello world

In [3]:
x[8:9]

'r'

In [4]:
x[-3]

'r'

In [5]:
name = 'Sam'

In [11]:
last_letters = name[1:]

In [12]:
last_letters

'am'

In [13]:
name ='P' + name [1:]

In [14]:
name

'Pam'

In [24]:
x = 'World is cool!'

x = x + 'Sun is shine!'

In [25]:
x

'World is cool!Sun is shine!'

In [26]:
x ='Hello World'

In [27]:
x.upper()

'HELLO WORLD'

In [28]:
x.lower()

'hello world'

In [29]:
len(x)

11

In [30]:
x.split()

['Hello', 'World']

In [31]:
x.split('l')

['He', '', 'o Wor', 'd']

In [38]:
print('The {1} {1} {0}'.format('fox', 'brown', 'quick'))

The brown brown fox

result = 100/77

In [41]:
result

NameError: name 'result' is not defined

In [42]:
result = 100/77

In [43]:
result

1.2987012987012987

In [83]:
print('The result is {r:1.2f}'.format(r=result))

The result is 1.30

In [52]:
name = 'Sergey'
firstename = 'Pryduk'
age = '27'

In [111]:
print('my name is {0}'.format(name))

my name is Serg

In [82]:
print('Hello \r World')

 World

In [57]:
print('Hello \t World')

Hello 	 World

In [58]:
print('Hello \n World')

Hello
 World

In [69]:
name = 'Serg'
age = 27

In [71]:
print(f'This is me - {name}! And Iam {age}')

SyntaxError: invalid syntax (<ipython-input-71-9bbe574e98e0>, line 1)

In [72]:
name = 'Serg'

In [78]:
age = 27.1562783

In [79]:
print(f'This is me - {name}! And I am {age}')

SyntaxError: invalid syntax (<ipython-input-79-c44f3e81e8fc>, line 1)

In [80]:
print('The %s %s is coming!' % ('winter', '11111'))

The winter 11111 is coming!

In [84]:
mylist = ['one', 'two', 'three']

In [85]:
mylist

['one', 'two', 'three']

In [86]:
mylist[1]

'two'

In [87]:
new_list = ['moooooo']

In [90]:
w = mylist + new_list

TypeError: can only concatenate list (not "str") to list

In [91]:
mylist.append ('moooooo')

In [92]:
mylist

['one', 'two', 'three', 'moooooo']

In [93]:
mylist.pop()

'moooooo'

In [94]:
mylist

['one', 'two', 'three']

In [95]:
mylist.pop(0)

'one'

In [96]:
word = mylist.pop(0)
print(word)

two

In [98]:
mylist = ['cat', 'dog', 'cow']

In [99]:
mylist

['cat', 'dog', 'cow']

In [101]:
mylist.pop(0)

'cat'

In [103]:
mylist.pop(1)

'cow'

In [104]:
print(mylist)

['dog']

In [105]:
mylist.append ('cat')

In [106]:
print(mylist)

['dog', 'cat']

In [107]:
mylist.append ('cow')

In [108]:
print(mylist)

['dog', 'cat', 'cow']

In [109]:
x = mylist

In [110]:
print(x)

['dog', 'cat', 'cow']

In [112]:
['one', 'two', 'three', 'four']

['one', 'two', 'three', 'four']

In [114]:
['one', 'two', 'three', 'moooooo']

['one', 'two', 'three', 'moooooo']

In [115]:
['one', 'two', 'three', 'moooooo']

['one', 'two', 'three', 'moooooo']

In [116]:
new_list.sort()

AttributeError: 'str' object has no attribute 'sort'